services:
  azure-di-layout:
    image: mcr.microsoft.com/azure-cognitive-services/form-recognizer/layout-3.1:latest
    container_name: azure-di-layout
    environment:
      Eula: "accept"
      Billing: ${AZURE_ENDPOINT}
      ApiKey: ${AZURE_KEY}
      Logging__Console__LogLevel__Default: "Information"
      SharedRootFolder: "/shared"
      Mounts__Shared: "/shared"
      Mounts__Output: "/logs"
    volumes:
      - ./shared:/shared
      - ./logs:/logs
    expose:
      - "5000"
    networks:
      - di-network

  azure-di-custom:
    image: mcr.microsoft.com/azure-cognitive-services/form-recognizer/custom-template-3.1:latest
    container_name: azure-di-custom
    environment:
      Eula: "accept"
      Billing: ${AZURE_ENDPOINT}
      ApiKey: ${AZURE_KEY}
      AzureCognitiveServiceLayoutHost: "http://azure-di-layout:5000"
      SharedRootFolder: "/shared"
      Mounts__Shared: "/shared"
      Mounts__Output: "/logs"
    volumes:
      - ./shared:/shared
      - ./logs:/logs
    ports:
      - "5000:5000"
    depends_on:
      - azure-di-layout
    networks:
      - di-network

  fastapi:
    build: .
    container_name: di-fastapi
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    depends_on:
      - azure-di-custom
    networks:
      - di-network

networks:
  di-network:
    driver: bridge